extends layout

block content
    section
    table
        tr
            th Author
            th Author ID
            th Likes
            th Popularity
            th Reads
            th Tags
        each post, index in posts
            tr
            td=post.author
            td=post.authorid
            td=post.likes
            td=post.popularity
            td=post.reads
            td=post.tags


